.buttonMenu {
  width: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.buttonBack {
  width: 30px;
  margin: 15px;
}

.button-about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  max-width: 250px;
  flex-shrink: 0;
  flex: 1;
  height: 40px;
  margin: 20px;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #00bcd4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  /* position: relative; */
  cursor: pointer;
  /* overflow: hidden; */
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  /* z-index: 1; */
  /* will-change: opacity, transform; */
  transition: all 0.3s ease-out;
}

.button-about:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #009cb0;
}
